<div class="m-w-[600px] m-auto">
  <h2 class="title">Calculator</h2>
  <div class="flex items-center gap-4 mb-8">
    <app-input-shared [(ngModel)]="firstNumber" [name]="'first'" [type]="'number'" />
    <select
      class="border border-gray-300 rounded px-2 py-1 bg-slate-700 text-white"
      name="operation"
      id="operation"
      [(ngModel)]="operation"
    >
      @for (op of operations; track $index) {
        <option [value]="op">{{ op }}</option>
      }
    </select>
    <app-input-shared [(ngModel)]="secondNumber" [name]="'second'" [type]="'number'" />
    <app-btn-shared [label]="'Calculate'" (clickEmit)="calculate()"></app-btn-shared>
  </div>
  <footer class="flex items-center gap-12 mb-8">
    @if (result !== null) {
      <div class="result">Result: {{ result }}</div>
    }
    <app-btn-shared
      [className]="'btn--danger'"
      [label]="'Reset'"
      (clickEmit)="reset()"
    ></app-btn-shared>
  </footer>
</div>
